.wishlist-container {
    padding: 20px;
    text-align: center; /* Center align content */
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }

  .wishlist-header{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .just-for-you-items{
    margin-bottom: 40px;
  }
  .just-for-you-header{
    margin-left: 40px;
    margin-right: 60px;
  }
  
  .wishlist-header, .just-for-you-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .wishlist-header h3, .just-for-you-header h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .move-all-btn, .see-all-btn {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .AddToCartdiv{
    display: flex;align-items: center;justify-content: center;
    background-color: black;
    margin-top: -10px;
    height: 35px;
  }


  
  .wishlist-items, .just-for-you-items {
    display: flex;
    justify-content: center; /* Center items */
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .wishlist-item {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Ensure each item is centered */
  }
  
  .item-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding:40px;
    padding-right: 30px;
  }
  
  .wishlist-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .wishlist-cart-btn{
    background-color:black;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    color: white;
    gap:3px;
  }

  .wishlist-remove-btn{
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
  }
  
  .wishlist-cart-btn:hover, .wishlist-remove-btn:hover {
    background-color: #f1f1f1;
  }
  
  .item-info {
    padding: 10px;
  }
  
  .item-price {
    color: #333;
    font-size: 16px;
  }
  
  .item-old-price {
    text-decoration: line-through;
    color: red;
    margin-left: 5px;
  }
  
  .item-rating {
    font-size: 14px;
    color: #888;
  }
  
  /* Just for You section */
  .just-for-you-header {
    margin-top: 30px;
  }
  